# newsletter
BEHIIV_TOKEN=12345
BEHIIV_PUB_KEY=12345

# contact form
RESEND_API_KEY=12345
CONTACT_TO_EMAIL=test@test.com
CONTACT_FROM_EMAIL=test@test.com

# bank details
IBAN="XXXX XXXX XXXX XXXX"
BIC=XXXXXXXXXXX

#strapi api keys
STRAPI_URL=http://localhost:1337
STRAPI_DOMAIN=localhost
STRAPI_KEY=Put Your Key Here